<div class="inner-banner">
    <img src="assets/images/inner-banner-projectengineering.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Product Engineering</h1>
                    <h6>Softwares : Data Life-cycle Management : IT Staffing & Training</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="manage-service-tab inner-nav-tab">
    <div class="tab-navigation">
        <div class="col-sm-12">
            <div class="container">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>Product Engineering</a>
                        <ng-template ngbNavContent>
                            <section class="section-project-engineering">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                Competitive pressures, reduced time-to-market, increased demands of
                                                customers, and globalization are
                                                driving global product companies to explore the offshore route. A
                                                reliable offshore partner can play
                                                a key role from concept to the launch of the product. Product companies
                                                have increased their
                                                competitive advantage by partnering with offshore players for product
                                                development.
                                            </p>
                                            <p>
                                                We have been involved in architecting and building .NET driven business
                                                solutions right from the
                                                inception. Our .NET CoE has proven expertise in building world class
                                                products using the latest
                                                Microsoft® technologies and standards. Our knowledge of Microsoft® .NET
                                                technologies and product
                                                development methodologies enables us to work with customers across
                                                domains and successfully address
                                                their functional, usability, performance and scalability requirements.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="methodologies">
                                <img src="assets/images/managservice/methodologies.jpg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 center">
                                            <h1>Our Methodology</h1>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <ul class="panel-container">

                                            <li *ngFor="let item of solution; index as i">
                                                <div class="icon-circle">
                                                    <i class="icon icon-medium">
                                                        <svg focusable="false">
                                                            <use attr.xlink:href="{{item.icon}}"></use>
                                                        </svg>
                                                    </i>
                                                </div>
                                                <h6>{{item.title}}</h6>
                                                <ul class="info-bar">
                                                    <li>
                                                        {{item.info}}
                                                    </li>
                                                </ul>

                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </section>

                            <section class="engeering-grap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <h6>
                                                We practice agile development methodologies to help you take advantage
                                                of emerging market
                                                opportunities. We develop software in time-boxed iterations; each
                                                iteration is a discrete project
                                                encompassing all the PDLC stages. Our agile software project is capable
                                                of releasing standalone
                                                working software at the end of each iteration.
                                            </h6>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <img src="assets/images/managservice/engeering-grap.jpg">
                                        </div>
                                        <div class="col-sm-12">
                                            <p>
                                                Our solution architects also help you realize your vision of services
                                                based products through
                                                implementation of the Service Oriented Architecture (SOA) approach. They
                                                provide consulting,
                                                implementation, and re-engineering of existing product architectures
                                                using the SOA framework<br><br>

                                                The software products industry depends on bringing new concepts, new
                                                versions and new features to
                                                the market quickly. At the same time, development costs must be low,
                                                predictable, and flexible. We
                                                can help you address these daunting and seemingly conflicting
                                                requirements for software products.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>


                            <section class="our-services-section">
                                <div class="container our-services">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-12 triangle">
                                            <div class="v-center">
                                                <div class="logo-circle">
                                                    <i class="icon icon-large">
                                                        <svg focusable="false">
                                                            <use xlink:href="#icon_logoFlat"></use>
                                                        </svg>
                                                    </i>
                                                </div>
                                                <h5>
                                                    Arkedge Technologies<br>
                                                    Services
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-lg-8 col-sm-12 v-flex">
                                            <ul>
                                                <li>
                                                    Robust version design
                                                </li>
                                                <li>
                                                    Cross-platform architecture
                                                </li>
                                                <li>
                                                    Wide variety of integration requirements
                                                </li>
                                                <li>
                                                    Comprehensive packaging
                                                </li>
                                                <li>
                                                    Support over a range of environments
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </section>


                            <section class="engeering-grap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                Our solution architects also help you realize your vision of services
                                                based products through
                                                implementation of the Service Oriented Architecture (SOA) approach. They
                                                provide consulting,
                                                implementation, and re-engineering of existing product architectures
                                                using the SOA framework
                                                <br> <br>
                                                The software products industry depends on bringing new concepts, new
                                                versions and new features to
                                                the market quickly. At the same time, development costs must be low,
                                                predictable, and flexible. We
                                                can help you address these daunting and seemingly conflicting
                                                requirements for software products.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Application Development</a>
                        <ng-template ngbNavContent>
                            <div class="container app-development">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>
                                            Arkedge has a well-defined and mature application development service offering. Arkedge application development model covers all phases of the Software Development Life Cycle (SDLC), beginning with transforming business requirements into project functional requirements, development, quality, testing, implementation, training and application support. Our distributed delivery methodology effectively leverages the onsite subject matter expertise and the offshore development teams, resulting in cost-effective solutions. Each of the development phases can be defined with metrics and subsequently tracked with the monitoring tools and well defined project management and execution processes.
                                        </h6>
                                        <p>
                                            Arkedge provides outsourced software development services for in-house applications, across the project lifecycle. We partner with you from internal proposals and budgeting, through project approvals, all the way to delivery, training, maintenance and support. Our flexible offshore software development model allows companies to maximize their ROI, while maintaining complete control over projects.
                                        </p>

                                        <p>
                                            <img src="assets/images/managservice/app-dev-met.jpg" align="right">
                                            At each stage of the application development cycle we bring people, process and technology expertise to pro-actively guide you through the challenges of meeting application requirements within budget, time and quality. A key aspect of Arkedge's application development methodology is the early and extensive use of screen mockups or wireframes. In our experience, mockups and wireframes speed up initial approvals, improve the reliability of requirements gathering and documentation, and greatly enhance user acceptance and utilization of the delivered application.
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <section class="about-key-diff">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-8 col-lg-8 col-sm-12">
                                            <h1>Key Differentiators</h1>
                                            <ul>
                                                <li *ngFor="let key of keydiff">
                                                    {{key.list}}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-12 v-flex">
                                            <img src="assets/images/managservice/key-difference.png">
                                        </div>

                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                Systems modelling with analysis and design using UML tools Customers can be rest assured that Arkedge will provide technical follow-through during the planning, design, development and deployment of every project. It also offers on-going management, maintenance and monitoring of all developed applications and the systems they run on.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </ng-template>
                    </li>

                    <li [ngbNavItem]="3">
                        <a ngbNavLink>UX/UI Development</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>
                                            ARKEDGE is a rapidly growing professionally managed organization with
                                            competent and
                                            qualified brass at the helm of the affairs.
                                        </h6>
                                        <p>
                                            from different backgrounds
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Software Testing & QA</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>
                                            ARKEDGE is a rapidly growing professionally managed organization with
                                            competent and
                                            qualified brass at the helm of the affairs.
                                        </h6>
                                        <p>
                                            from different backgrounds
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div [ngbNavOutlet]="nav"></div>


</section>