<div class="inner-banner">
    <img src="assets/images/inner-banner-projectengineering.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Product Engineering</h1>
                    <h6>Softwares : Data Life-cycle Management : IT Staffing & Training</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-project-engineering">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12">
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                    <ngb-panel id="static-1" title="Software Engineering">
                        <ng-template ngbPanelContent>
                            <ul>
                                <li>Product Engineering</li>
                                <li>Application Development</li>
                                <li>UX/UI Development</li>
                                <li>Software Testing & QA</li>
                            </ul>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Data Management">
                        <ng-template ngbPanelContent>
                            <ul>
                                <li>link goes here</li>

                            </ul>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="IT Staffing & Training ">
                        <ng-template ngbPanelContent>
                            <ul>
                                <li>link goes here</li>

                            </ul>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-12">
                <p>
                    Competitive pressures, reduced time-to-market, increased demands of customers, and globalization are
                    driving global product companies to explore the offshore route. A reliable offshore partner can play
                    a key role from concept to the launch of the product. Product companies have increased their
                    competitive advantage by partnering with offshore players for product development.
                </p>
                <p>
                    We have been involved in architecting and building .NET driven business solutions right from the
                    inception. Our .NET CoE has proven expertise in building world class products using the latest
                    Microsoft® technologies and standards. Our knowledge of Microsoft® .NET technologies and product
                    development methodologies enables us to work with customers across domains and successfully address
                    their functional, usability, performance and scalability requirements.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="methodologies">
    <img src="assets/images/methodologies.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>Our Methodology</h1>
            </div>
        </div>

        <div class="row">
            <ul class="panel-container">

                <li *ngFor="let item of solution; index as i">
                    <div class="icon-circle">
                        <i class="icon icon-medium">
                            <svg focusable="false">
                                <use attr.xlink:href="{{item.icon}}"></use>
                            </svg>
                        </i>
                    </div>
                    <h6>{{item.title}}</h6>
                    <ul class="info-bar">
                        <li>
                            {{item.info}}
                        </li>
                    </ul>

                </li>
            </ul>

        </div>
    </div>
</section>

<section class="engeering-grap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h6>
                    We practice agile development methodologies to help you take advantage of emerging market
                    opportunities. We develop software in time-boxed iterations; each iteration is a discrete project
                    encompassing all the PDLC stages. Our agile software project is capable of releasing standalone
                    working software at the end of each iteration.
                </h6>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                <img src="assets/images/engeering-grap.jpg">
            </div>
            <div class="col-sm-12">
                <p>
                    Our solution architects also help you realize your vision of services based products through
                    implementation of the Service Oriented Architecture (SOA) approach. They provide consulting,
                    implementation, and re-engineering of existing product architectures using the SOA framework<br><br>

                    The software products industry depends on bringing new concepts, new versions and new features to
                    the market quickly. At the same time, development costs must be low, predictable, and flexible. We
                    can help you address these daunting and seemingly conflicting requirements for software products.

                </p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container our-services">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 triangle">
                <div class="v-center">
                    <div class="logo-circle">
                        <i class="icon icon-large">
                            <svg focusable="false">
                                <use xlink:href="#icon_logoFlat"></use>
                            </svg>
                        </i>
                    </div>
                    <h5>
                        Arkedge Technologies<br>
                        Services
                    </h5>
                </div>
            </div>

            <div class="col-md-8 col-lg-8 col-sm-12 v-flex">
                <ul>
                    <li>
                        Robust version design
                    </li>
                    <li>
                        Cross-platform architecture
                    </li>
                    <li>
                        Wide variety of integration requirements
                    </li>
                    <li>
                        Comprehensive packaging
                    </li>
                    <li>
                        Support over a range of environments
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>


<section class="engeering-grap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Our solution architects also help you realize your vision of services based products through
                    implementation of the Service Oriented Architecture (SOA) approach. They provide consulting,
                    implementation, and re-engineering of existing product architectures using the SOA framework
                    <br> <br>
                    The software products industry depends on bringing new concepts, new versions and new features to
                    the market quickly. At the same time, development costs must be low, predictable, and flexible. We
                    can help you address these daunting and seemingly conflicting requirements for software products.
                </p>
            </div>
        </div>
    </div>
</section>