<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="logo">
                    <i class="icon icon-small">
                        <svg focusable="false">
                            <use xlink:href="#icon_logoFlat"></use>
                        </svg>
                      </i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>

                <p class="copyright">
                    <span>© Copyright Arkedge Technologies Pvt. Ltd.</span>
                </p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12">
                <h5>Quick Links</h5>
                <ul class="footer-li">
                    <li>
                        <a routerLink="OurProduct" routerLinkActive="active" skipLocationChange=true>Our
                            Product</a>
                    </li>
                    <li>
                        <a routerLink="Advancesolution" routerLinkActive="active" skipLocationChange=true>Advance
                            Solution</a>
                    </li>
                    <li>
                        <a routerLink="ManagedServiceComponent" routerLinkActive="active" skipLocationChange=true>Managed Service</a>
                    </li>
                    <li>
                        <a routerLink="Company" routerLinkActive="active" skipLocationChange=true>COMPANY</a>
                    </li>
                    <li>
                        <a routerLink="Career" routerLinkActive="active" skipLocationChange=true>CAREER</a>
                    </li>
                    <li>
                        <a routerLink="Contactus" routerLinkActive="active" skipLocationChange=true>CONTACT US</a>
                    </li>
                </ul>
                <div class="social-net">

                    <ul>
                        <li><a href="https://www.facebook.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_facebook"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_instagram"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_twitter"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-5 col-md-5 col-sm-12 map">
                    <img src="assets/images/map.png" alt="Map">
             </div>
        </div>
    </div>
    <!-- /.container -->
</footer>