<div class="inner-banner">
    <img src="assets/images/inner-banner-projectengineering.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>DATA MANAGEMENT</h1>
                    <h6>Page under construction</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="manage-service-tab inner-nav-tab">
    <div class="tab-navigation">
        <div class="col-sm-12">
            <div class="container">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>Cleanse Dataset</a>
                        <ng-template ngbNavContent>
                            <section class="datamgmt">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="running-text">
                                                Cleanse Dataset : Page under construction.  
                                            </p>
                                            </div>
                                        <div class="col-sm-12">
                                           <img src="assets/images/underconstruction.png">
                                        </div>
                                      
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Data Mapping & Conversion</a>
                        <ng-template ngbNavContent>
                            <section class="datamgmt">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="running-text">
                                                Data Mapping & Conversion: Page under construction.  
                                            </p>
                                            </div>
                                        <div class="col-sm-12">
                                           <img src="assets/images/underconstruction.png">
                                        </div>
                                      
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="3">
                        <a ngbNavLink>Data Migration & Consolidation</a>
                        <ng-template ngbNavContent>
                            <section class="datamgmt">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="running-text">
                                                Data Migration & Consolidation: Page under construction.  
                                            </p>
                                            </div>
                                        <div class="col-sm-12">
                                           <img src="assets/images/underconstruction.png">
                                        </div>
                                      
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Spend Analysis</a>
                        <ng-template ngbNavContent>
                            <section class="datamgmt">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="running-text">
                                                Spend Analysis: Page under construction.  
                                            </p>
                                            </div>
                                        <div class="col-sm-12">
                                           <img src="assets/images/underconstruction.png">
                                        </div>
                                      
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </li>

                    </ul>
                </div>
            </div>
        </div>
        <div [ngbNavOutlet]="nav"></div>
</section>
