.about-key-diff{
    background:url(../../assets/images/about.jpg) no-repeat bottom center #1d4b76;
    padding:70px 0;
    h1{
        color:#fff;
        font-weight:normal;
    }
    ul{
		margin-top:35px;
		li{
			padding: 0 0 20px 20px;
			list-style: none outside;
			font-size: 16px;
            position: relative;
            color:#fff;
			&::before{
				content: " ";
				background: #fff;
				font-weight: bold;
				position:absolute;
				top:8px;
				left:0px;
				width: 10px;
				height:10px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
    }
}
.note-desc{
	padding-top:0;
}
.about-info{
	padding:0;
    background:#e5f0fa;
    .v-align{
        display:flex;
        p{
            align-self: center;
        }
	}
	img{
		width:100%;
	}
}


$red:#b9646e;
$blue:#276caa;
$green:#4bbb57;

.icon-circle{
	height:90px;
	width:90px;
	border-radius:50%;
	margin:0 auto;
	i{
		line-height:90px;
		svg{
			fill:#fff;
		}
	}
	
}

.section-info{
    padding:70px 0;
	.panel-container{
        margin-top:60px;
		min-height: 330px;
		perspective: 1000px;
		&:hover .panel{
			transform: rotateX(180deg);
		}
	}
	.panel{
		color:#fff;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 1s;
		transform-style: preserve-3d;
		.panel-front{
			border-top: 5px solid;
			padding-top: 25px;
			z-index: 1;
			&::after{
				content:'';
				position: absolute;
				width:100%;
				height:100%;
				background:rgba(0,0,0,.5);
				top: 0;
				left: 0;
				z-index: -1;
			}
			&.red{
				background:url(../../assets/images/1.jpg) no-repeat top center;
				border-color: $red;
				.circle-bg{
					background-color:$red;
				}
			}
			
			&.blue{
				background:url(../../assets/images/2.jpg) no-repeat top center;
				border-color: $blue;
				.circle-bg{
					background-color:$blue;
				}
			}
			
			&.green{
				background:url(../../assets/images/3.jpg) no-repeat top center;
				border-color: $green;
				.circle-bg{
					background-color:$green;
				}
			}
		}

		.panel-back{
			padding-top: 25px;
			&.red{
				background-color:$red;
			}
			
			&.blue{
				background-color:$blue;
			}
			
			&.green{
				background-color:$green;
			}
		}
	
		.panel-front, .panel-back{
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		.panel-back
		{
			transform: rotateX(180deg);
			p{
				padding:10px;
			}
		}
		h5{
			margin:20px 0;
		}
		p{
			margin:0;
			
		}
	}
}

.leader-ship{
		margin-top:40px;
		padding:0;
		&:last-child{
			padding-bottom:70px;
		}
	p{
		padding-top:40px;
		border-top:1px solid #ccc;
	}
	img{
		width:auto;
		margin: 0 40px 0px 0;
	}
	.title-name{
		font-size:36px;
		font-weight:bold;
	}
	.title-info{
		font-size:18px;
		font-weight:bold; 
	}
}

.why-us{
	padding:0;
	.row{
		&:nth-child(even){
			padding:70px 0;
		}
		&:last-child{
			padding:0;
		}
	}
	h6{
		font-weight: bold;
	}
	ul{
		margin-top:35px;
		 li{
			padding: 0 0 20px 20px;
			list-style: none outside;
			font-size: 16px;
			position: relative;
			&::before{
				content: " ";
				background: #214f7a;
				font-weight: bold;
				position:absolute;
				top:8px;
				left:0px;
				width: 10px;
				height:10px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}
}

.wa-info{
	background:#e5f0fa;
	padding:50px;
	height: 100%;
}


.section-news{
    margin:70px auto;
    .nav-tabs{
        width: 100%;
        border-bottom:1px solid #214f7a;
        .nav-link{
            border:none;
            color:#214f7a;
            &.active{
                border-bottom:2px solid #214f7a;
                font-weight:bold;
            }
        }
    }
    li
   {
    &.grid-li{
        width:25%;
         float:left;
         list-style-type: none;
         p{
             margin:0;
         }
         .panel{
            margin: 0 0 10px 10px;;
             border:1px solid #ccc;
             .panel-body{
                 padding:15px;
             }
           
         }
         img{
             width:100%;
         }
         &:first-child{
             width:50%;
             .panel{
                 background: #e5f0fa;
                 border:none;
                 margin-left:0;
                 p{
                     font-size:16px;
                     margin-bottom: 20px;
                     &:first-child{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        font-size:18px;
                    }
                 }
             }
         }
  
 }
   }
   
}
.news-video{
    padding:70px 0;
    background:#e5f0fa;
    .video{
        margin-bottom:70px;
       iframe{
        margin:0 auto;
        display: block;
       }
    }
}


@media (max-width: 576px){
	.about-tab{
.leader-ship{
		img{
			width: 100%;
		    margin: 0;
			margin-bottom:20px;
		}
	}
}}