<div class="inner-banner">
  <img src="assets/images/inner-banner-projectengineering.jpg">
  <div class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center">
          <h1>Artificial Intelligence</h1>
          <h6>Creating Business Impact by enabling Advanced analytics and Intelligent Automation</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 div-center">
        <h6 class="center career">
          Today, most incumbent organizations across industries are grappling with the risks of digital disruption on
          one hand, even as they reach for its opportunities on the other. Most are responding by committing to the idea
          of digital transformation The winners in this race are going to be the ones who are able to achieve scale,
          recognize and respond to market disruptions, while also dealing with real-world constrictions.
        </h6>
        <h4 class="center career">
          Creating Business Impact by enabling Advanced analytics and Intelligent Automation
        </h4>
        <p class="center">
          Our recent research on digital disruption shows that these organizations are powering this transformation with
          Artificial Intelligence (AI) and by leveraging Analytics, Machine Learning, Robotic Process Automation (RPA)
          and AI to transform themselves into a data driven intelligent enterprise.
        </p>
        <h3 class="center">Our Core Capability</h3>
        <p>
          <b>Developing and implementing advanced AI-enabled automation</b>
          We bring together the catalytic forces of advanced machine learning and technology, along with subject matter
          expertise and executional capabilities, to progressively transform organizations and unlock enormous financial
          <br>and business value.<br>
          Our AI and Automation Services team is partnering with clients to Navigate their Next on this journey through:
        </p>
        <ul class="info-bar">
          <li>
            <b>AI and automation consulting</b> across evaluation and AI maturity assessment, CoE setup, use case
            discovery, creating a business case and facilitating change management
          </li>
          <li>
            Delivering <b>value at scale</b> by setting up an automation ecosystem, bringing in operational excellence,
            RPA and chatbot factory models, to implementing use cases
          </li>
          <li>Custom <b>AI platform build </b>for clients to enable democratization of AI and scale adoption</li>
          <li>Bringing pre-built <b>cognitive solutions</b> like Image Detection, Sentiment Analysis, Image Analytics,
            Chatbot frameworks, a comprehensive HR solution and other apps to work for you</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <h3 class="center">
          Automation of business processes through technology, allowing businesses to optimize operations, reduce costs,
          and improve productivity.
        </h3>
        <h3 class="center">
          OUR APPROACH
        </h3>
        <p class="center">
          4-step technology agnostic approach to automation focuses on ensuring metrics improvement, savings, and ROI.
        </p>
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <div>
          1. Identify Repetitive Tasks
          <ul class="info-bar">
            <li>Understand business workflow and identify repetitive tasks.</li>
            <li>Consult key stakeholders and actual process users</li>
          </ul>
        </div>
        <div>
          2. Define Business Goals
          <ul class="info-bar">
            <li>Define business goals using the current process as the benchmark.</li>
            <li>Target to improve the throughput, reduce cycle time and optimize resource utilization.</li>
          </ul>
        </div>
        <div>
          3. Develop Automation Solution
          <ul class="info-bar">
            <li>Choose the right software that is an ideal fit for the organization.</li>
            <li>Develop, test, and deploy the solution.</li>
          </ul>
        </div>
        <div>
          4. Feedback Loop
          <ul class="info-bar">
            <li>Continuous monitoring and measurement of automated workflow.</li>
            <li>Continuous assessment and upgradation</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <h3 class="center">
          Niche Capabilities and Cutting-Edge Solutions
        </h3>
        <p class="center">
          ArkEdge’s Automation Suite has delivered significant impact to customers across all major industries and
          geographies.
        </p>
        <ul class="info-bar">
          <li>
            <span class="high-lighter">Workflow Management: </span>End to end process execution just by one single click
            execution mechanism, reducing manual operations by 35-40%
          </li>
          <li>
            <span class="high-lighter">DevOps: </span>40 - 50% faster releases and deployments via our agile approach,
            maintaining consistency across multiple deployments and release cycles
          </li>
          <li>
            <span class="high-lighter">Web Crawling Bots: </span>Our generic scrapping engine crawls multiple sources,
            leading to significant rise in data fill rate and model accuracy
          </li>
          <li>
            <span class="high-lighter">Robotics Process Automation: </span>Automated labor-intensive and error-prone
            back tasks which are highly rule based in nature, achieving 15-20% time savings
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <h3 class="center">Design Principles</h3>
        <div>
          FUTURE PROOF DELIVERY
          <ul class="info-bar">
            <li>Technology independence: best-in-class via open source or industry platforms</li>
            <li>Agility across tech value chain: accelerated emerging tech adoption</li>
            <li>Flexible delivery model: Serverless, cloud or on-prem</li>
          </ul>
        </div>
        <div>
          SCALABLE & RAPID DEPLOYMENT
          <ul class="info-bar">
            <li>Efficient development: Agile approach focused upon code reusability</li>
            <li>Plug-n-play design: Modularized components for easy utilization across use cases</li>
            <li>Pre-built connectors: Quick and seamless integration across systems and analytics solutions</li>
          </ul>
        </div>
        <div>
          AI ENABLED & SECURE
          <ul class="info-bar">
            <li>Adaptive real time intelligence: AI models infused with real-time data</li>
            <li>Visualizations: Responsive user interface, supported by multiple devices</li>
            <li>Enterprise grade security: Credential vaults with audit trail for user management</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <h3>Our Use Cases with Automation Levels</h3>
        <div>
          • LEVEL 1: Full Attention Needed: Simple tasks in existing human workflow are automated; human handles all
          exceptions
          <ul class="info-bar">
            <li>Automated chatbot for policy related queries</li>
            <li>OCR engine for digitizing hard copy documents</li>
          </ul>
        </div>
        <div>
          • LEVEL 2: Partially Attended: Simple exception handling, status alert, human still monitors the overall
          process
          <ul class="info-bar">
            <li>Anomaly detection and automated alerts (e.g. for Merchant contracts)</li>
            <li>RPAs for data entry and aggregation across systems (e.g. POs in Ariba)</li>
          </ul>
        </div>
        <div>
          • LEVEL 3: Limited Auto Pilot: System monitors overall process, prompts human to intervene when it can’t
          handle
          <ul class="info-bar">
            <li>Finance budget consolidation and forecasting</li>
            <li>Audit process automation</li>
          </ul>
        </div>
        <div>
          • LEVEL 4: Mostly Auto Pilot: System operates without human input/ oversight except for pre-defined areas
          <ul class="info-bar">
            <li>Employee engagement personalization</li>
            <li>Marketing campaign design based on customer 360 information</li>
            <li>Help Desk Ticket Automation</li>
          </ul>
        </div>
        <div>
          • LEVEL 5: Cognitive Automation: System handles multiple fuzzy inputs, fuzzy objectives, adaptive optimization
          <ul class="info-bar">
            <li>Automating Cinema Showtime Scheduling</li>
            <li>Automated Portfolio Tracking & Valuation Tool</li>
            <li>Automated Data ETL for Card Issuer</li>
          </ul>
        </div>
        <img src="../../assets/images/automation.png" alt="">
      </div>
      <div class="col-sm-12 col-md-10 div-center">
        <h4>SCALE PROCESSES, NOT TASKS</h4>
        <h5>SIMPLY EASIER</h5>

        <p>RPA TYPICAL BUSINESS PROCESSES</p>
        <p>RPA can learn from people, eventually taking over the processes that humans once completed, at a much faster
          pace.</p>
          <div class="row">
            <div *ngFor="let item of bizPro" class="col-lg-4 col-md-4 col-sm-12 panel-container">
                <div class="panel">
                  <div class="panel-front {{item.color}}">
                    <div class="panel-heading">
                      <div class="icon-circle circle-bg">
                        <i class="icon icon-medium">
                          <svg focusable="false">
                            <use attr.xlink:href="{{item.icon}}"></use>
                          </svg>
                        </i>
                      </div>
                      <h5>{{item.title}}</h5>
                    </div>
                    <div class="panel-body">
        
                      <p *ngFor="let data of item.list">{{data.name}}</p>
                    </div>
                  </div>
                  <div class="panel-back {{item.color}}">
                    <h5>{{item.title}}</h5>
                    <p>{{item.description}}</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      

      <div class="col-sm-12 col-md-10 div-center">
        <h2>Our experience with enterprise automation</h2>
      </div>
    </div>
  </div>
</section>

<section class="section-ai inner-nav-tab">
    <div class="tab-navigation">
      <div class="col-sm-12">
        <div class="container">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Finance</a>
              <ng-template ngbNavContent>
  
                <section>
                  <div class="container">
                    <div class="row">
                      <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                            <div class="panel">
                             <div class="panel-heading">
                                 <h5>{{item.title}}</h5>
                                </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </section>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                IT</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Sales</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Operations</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Supply Chain</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
            <li [ngbNavItem]="6">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Administrative</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
            <li [ngbNavItem]="7">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Contact Center</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
            <li [ngbNavItem]="8">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Customer Success</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
            <li [ngbNavItem]="9">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
               HR</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
            <li [ngbNavItem]="10">
              <a ngbNavLink><i class="icon icon-ex-small center">
                  <svg focusable="false">
                    <use xlink:href="#icon_mgmt"></use>
                  </svg>
                </i><br>
                Vendor Management</a>
              <ng-template ngbNavContent>
                <section>
                    <div class="container">
                      <div class="row">
                        <div *ngFor="let item of finance" class="col-lg-3 col-md-3 col-sm-12 panel-container">
                              <div class="panel">
                               <div class="panel-heading">
                                   <h5>{{item.title}}</h5>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </section>
              </ng-template>
            </li>
  
          </ul>
  
        </div>
      </div>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-4"></div>
</section>