<div class="inner-banner">
    <img src="assets/images/inner-banner-advance-solution.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Technology</h1>
                    <h6>Technical solution for all industries</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-advance-solution">
    <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <ul>
                        <li><a routerLink="Advancesolution" routerLinkActive="active" skipLocationChange=true>Solutions</a></li>
                        <li><a routerLink="Technology" routerLinkActive="active" skipLocationChange=true>Technology</a></li>
                        <li><a routerLink="Industries" routerLinkActive="active" skipLocationChange=true>Industries</a></li>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12">
                </div>
        </div>
    </div>
</section>


