body{
	color:#555555;
	font-family: 'Noto Sans', sans-serif;
	font-size:14px;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
h1{
	font-size:40px;
}
h2{
	font-size:34px;
}
h3{
	font-size:30px;
}
h4{
	font-size:26px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px; 
	line-height: 32px;
}
h1{
	font-weight:bold;
}
.center{
	text-align: center; 
}	
.heading-highlight{
    color:#276CAA;
}
section{
    padding:70px 0;
}
.btn{
	font-size:16px;
	font-weight:bold;
	border-radius: 30px;
	padding: 15px 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	&+ .btn{
			margin-left:15px;
	}
	&.btn-primary{
		background:#276caa;
	}
	&:hover{
		opacity:0.8;
	}
}
svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
svg:not(:root) {
	overflow: hidden;
}
.icon-large>svg {
	width: 100px;
	height: 100px;
}
.icon-medium>svg {
	width: 50px;
	height: 50px;
}
.icon-small>svg {
	width: 34px;
	height: 34px;
}
.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.slick-slider {
	width: 100%;
	margin: auto;
  }

  .section-product{
	.slick-list{
		padding:70px 0 !important;
	}
  }
 

  .inner-banner{
    margin-top:73px;
    position:relative;
    img{
        width:100%;
    }
    .page-title{
        position: absolute;
        bottom: 60px;
        background:rgb(255, 255, 255, 0.8);
        width: 100%;
        padding: 10px 0;
        color:#214f7a;
    }
}
input.form-control{
	border-radius: 150px;
}

textarea.form-control{
	border-radius: 15px;
	resize: none;
}



	.accordion{
		.card{
			border-radius:0px;
			border:none;
			 .card-header{
				 border:none;
				 background:none;
				 padding:0 0 15px;
				.btn{
					border-radius:0;
					padding:10px 15px;
					background:#214f7a;
					width:100%;
					text-align: left;
					color:#fff;
					text-decoration: none;
					&.collapsed{
						background:#e5e5e5;
						color:#333333;
					}
				}
			}
		}
	}

	.section-project-engineering{
	.card-body{
		padding:0px;
	} 
	}
	.main-banner{
		.carousel-indicators{
			bottom: 70px;
		}
	}

	@media (min-width: 1200px){
		.container, .container-lg, .container-md, .container-sm, .container-xl{
			max-width: 1399px;
		}
	}
	