.section-manage-service{
    h5{
        font-weight:bold;
        text-align: center;
        margin:70px 0;
    }
    ul{
		margin-top:35px;
		 li{
			padding: 0 0 20px 20px;
			list-style: none outside;
            font-size: 16px;
            font-weight: bold;
			position: relative;
			&::before{
				content: " ";
				background: #214f7a;
				font-weight: bold;
				position:absolute;
				top:8px;
				left:0px;
				width: 10px;
				height:10px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}
    img{
        width:80%;
    }
    .row{
        &:last-child{
            margin-top:70px;
        }
    }
    .panel-container{
        margin-bottom: 25px;
	}
    .panel{
		color:#fff;
		position: relative;
		width: 100%;
		height: 100%;
	 .panel-front{
			z-index: 1;
			background:#e6f0fa;
		}
		.panel-back
		{
			padding-top: 25px;
			background:#e6f0fa;
		    height: 100%;
			p{
               padding:10px;
               color:#555;
               text-align:left;
            }
            h5{
            margin:0;
            padding:20px 10px;
            text-align:left;
            color:#555;
		}
		&:hover{
			background:#214f7a;
			p{
				color:#fff;	
			}
			h5{
				color:#fff;	
			}
		}
		}
		
		p{
			margin:0;
            text-align: right;
            color:#333333;
            padding:10px;
		}
    }
}