
.section-product{
    background:#e5f0fa;
    padding-top:40px;
}
.section-product-detail{
    h2{
        margin-bottom: 25px;
        font-weight: bold;
    }
    ul{
        margin-bottom:15px;
        li{
            padding: 5px 0;
            list-style: inside disc;
            font-size: 16px;
            font-weight:bold;
        }
    }
    img{
        max-width: 100%;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    }
    .row + .row{
        margin-top:100px;
    }
  
}

.slick-slide{
    overflow:hidden;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    background:#fff;
    margin:12px;
    box-sizing: border-box;
    &.slick-current + .slick-active{
        transform: scale(1.2);
        transition:all 0.5s;
        z-index: 1;
        position: relative;
        img{
            opacity:1;
           }
    }
    &.slick-slide{
       img{
        opacity:.3;
        height:auto;
       }
    }

}

